<div
  class="container-fluid footer py-1 my-1 bg-dark animated wow bounceInUp"
  data-wow-delay="0.1s"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-item">
          <h1>Quản lý công văn</h1>
          <p class="lh-lg mb-4">
            I am a front end developer learning from real world making this
            website
          </p>
          <div class="footer-icon d-flex">
            <a
              target="_blank"
              href="https://www.facebook.com/TranDoanNhatQuang/"
              ><mat-icon>facebook</mat-icon></a
            >
            <mat-icon>twitter</mat-icon>
            <!-- <mat-icon>instagram</mat-icon> -->
            <a
              target="_blank"
              href="https://www.linkedin.com/in/quang-tr%E1%BA%A7n-%C4%91o%C3%A0n-nh%E1%BA%ADt-58369b21b/"
              ><mat-icon>linkedin</mat-icon></a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-item">
          <h4 class="mb-4">Special Facilities</h4>
          <div class="d-flex flex-column align-items-start">
            <!-- <a class="text-body mb-3" href=""><i class="fa fa-check text-primary me-2"></i>Cheese Burger</a>
              <a class="text-body mb-3" href=""><i class="fa fa-check text-primary me-2"></i>Sandwich</a>
              <a class="text-body mb-3" href=""><i class="fa fa-check text-primary me-2"></i>Panner Burger</a>
              <a class="text-body mb-3" href=""><i class="fa fa-check text-primary me-2"></i>Special Sweets</a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-item">
          <h4 class="mb-4">Contact Me</h4>
          <div class="d-flex flex-column align-items-start">
            <p>
              <i class="fa fa-map-marker-alt text-primary me-2"></i> 40/17 HT31
              street
            </p>
            <p>
              <i class="fa fa-phone-alt text-primary me-2"></i> (+84) 348711727
            </p>
            <p>
              <i class="fas fa-envelope text-primary me-2"></i>
              coccc&#64;gmail.com
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-item">
          <h4 class="mb-4">Social Gallery</h4>
          <div class="row g-2">
            <div class="col-4">
              <!-- <img src="img/menu-06.jpg" class="img-fluid rounded-circle border border-primary p-2" alt=""> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
