@use '../../commons/variable' as *;

:host {
    .main-container__header {
        font-size: $biggest-font;
    }

    a.delete-file {
        position: relative;
        top: 7px;
    }

}

.delete-confirm {
    cc-button {

        &.cancel,
        &.confirm {
            padding: 0.5rem !important;
        }
    }
}