<mat-label class="main-container__header">Danh sách File đã tải lên</mat-label>
<table mat-table [dataSource]="listData()" class="mat-elevation-z8">
  @for (column of columns(); track $index) {
  <ng-container [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let element; let rowIndex = index">
      @if (column === 'Stt') {
      {{ rowIndex + 1 }}
      } @else {
      <a
        class="cursor-pointer"
        title="Nhấn để tải"
        (click)="downLoadFile(element)"
        >{{ element }}</a
      >
      <a
        mat-icon-button
        class="delete-file"
        color="warn"
        (click)="deleteFile(element)"
        title="Xoá"
      >
        <mat-icon>delete</mat-icon>
      </a>
      }
    </td>
  </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="columns()"></tr>
  <tr mat-row *matRowDef="let row; columns: columns()"></tr>
</table>
@if(listData().length <= 0) {
<div class="text-center my-3">Không có dữ liệu</div>
}

<ng-template #deleteConfirm let-data
  ><div class="d-flex justify-content-end mt-4 delete-confirm">
    <cc-button
      class="cancel"
      mode="secondary"
      (onClick)="deleteFileConfirm(false)"
      >Huy</cc-button
    >
    <cc-button class="confirm" (onClick)="deleteFileConfirm(true)"
      >Xác nhận</cc-button
    >
  </div>
</ng-template>
