@use '../../commons/variable' as *;

:host {
    overflow: hidden;
    border: 1px solid black;

    .main-container__header {
        font-size: $biggest-font;
    }

    cc-button {
        margin: 0 5px;
    }

    .main-container__formInput {
        border: 1px solid $header;
        border-radius: 5px;
    }

    .file-upload {
        margin-top: 1rem;
    }

    a.delete-file {
        position: relative;
        top: 6px;
    }
}

::ng-deep {

    .mat-form-field-appearance-outline .mdc-notched-outline__leading,
    .mat-form-field-appearance-outline .mdc-notched-outline__notch,
    .mat-form-field-appearance-outline .mdc-notched-outline__trailing {
        border: none !important;
    }

    .mat-form-field-appearance-outline .mdc-notched-outline {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid $dark;
        /* Keep bottom line */
    }
}